body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-image: url("bjback.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    text-align: center;
    font-weight: bold;
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0 20px;
    box-sizing: border-box;
}

h1 {
    color: goldenrod;
    font-size: 3em;
    margin-bottom: 20px;
}

#message-el {
    color: bisque;
    font-style: italic;
    font-size: 1.5em;
    margin-bottom: 10px;
}

button {
    background-color: goldenrod;
    color: white;
    width: 200px;
    border-radius: 5px;
    border: none;
    box-shadow: 10px;
    padding: 10px;
    font-weight: bold;
    font-size: 1.2em;
    font-weight: bold;
    margin: 10px 0;
    cursor: pointer;
}

p {
    font-size: 1.2em;
}

#quit-btn {
    background-color: tomato;
}

button:hover {
    background-color: rgb(158, 120, 22) 
}

@media (max-width: 600px) {
    h1 {
        font-size: 2.5em;
    }

    #message-el {
        font-size: 1.2em;
    }

    button {
        width: 150px; 
        padding: 8px;
        font-size: 1em;
    }

    p {
        font-size: 1em;
    }
}